.navigation {
  display: grid;
  grid-auto-flow: column dense;
  list-style: none;
  background-color: #3a3a3a;
  border-top: solid 3px white;
  border-bottom: solid 3px white;
  box-shadow: 0 -2px 3px -1px black;
  color: white;
}

.navigation li {
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  height: 4rem;
}

.navigation li:hover {
  background-color: #222222;
}

.navigation li:hover > ul {
  display: grid;
  grid-auto-flow: column dense;
  position: absolute;
  z-index: 1;
  background-color: #3a3a3a;
  border: solid 3px white;
  border-top: 0;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
}

.navigation li a {
  text-decoration: none;
  color: inherit;
  height: 100%;
}

.navigation ul {
  display: none;
  list-style: none;
  margin-left: -3px;
  overflow: hidden;
}

.navigation ul li {
  margin: .5em;
}

.navigation ul li:last-child a {
  border-radius: 0 0 5px 5px;
}

.navigation ul li:last-child a:hover {
  border-radius: 0 0 5px 5px;
}

/*.upload_form
  fieldset
    input
      &::-webkit-file-upload-button*/
.main_container {
  display: grid;
  grid-template-areas: "header header" "aside main" "footer footer";
  justify-content: space-between;
}

.main_container header {
  grid-area: header;
}

.main_container aside {
  grid-area: aside;
  background-color: #fee1ff;
}

.main_container main {
  grid-area: main;
}

.main_container footer {
  grid-area: footer;
  background-color: #daffe3;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background: #fff8dd;
}
